div{
    border: 1px dashed red;
}
#nav{  
    display: flex;
    padding: 1px;
    background-color:#14ac51;
}

h1{
    padding-top: 20px;
    color: white;
}

h2{
    padding-top: 29px;
    padding-left: 5px;
}

 ul{
    display: flex;
}
#homefirst li{
    padding: 70px;
    padding-top: 37px;
    display: flex;
}
#signUp li{
    display: flex;
    padding: 37px;
    margin: 10px;
}

#signUp{
margin-left: 250px;
}

#homefirst{
    margin-left: 200px;
}

#main{
    background-image: url(./assets/images/ps.jpeg);
    background-size: cover;
    height: 720px;
}
#words p{
    font-size: 90px;
    font-weight: 700;
    color: white;
}
#words{
    padding-top: 120px;
    margin-left: 80px;
}

#icons{
    display: flex;
    text-align: center;
    
}
#icons p{
    color: #d42323;
    font-size: 35px;
}
#key{
    width: 370px;
}
#cash{
    width: 370px;
}
#calendar{
    width: 370px;
}
#padlock{
    width: 370px;
}

#properties{
text-align: center;
}
#properties h1{
 font-size: 70px;
 color: brown;
}
#properties h2{
    font-size: 20px;
    font-weight: 700;
}
#second-page{
   display: flex; 
   justify-content: space-around;
}
#second-page p{
    font-weight: 600;
}
#smallicon{
    border: 1px solid #14ac51;
    width: 170px;
    border-radius: 10px;
    text-align: center;
    background-color: #14ac51;
    margin-left: 85%;
    }

#smallicon p{
color: white;
font-weight: 600;
font-size: 19px;
}

#navigation ul{
    display: block;
}
#footer{
    display: flex;
    background-color: #14ac51;
    justify-content: space-around;
}